<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br><br>
    <center><h1 style="color: salmon;">Done! OTP has send to the {{mail}} </h1>

    <br>
    <br><br>
    <br>
    <form method="POST" action="/loginCheck">
        <label for="otp">Enter Your OTP here :</label><br><br>
        <input type="text" id="otp" name="otp"><br><br>
        <input type="submit" value="Submit">
    </form>
    
</center>
</body>
</html>